<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/27.1.48/bootstrap5.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTracker.styles.css" asp-append-version="true" />
    <script src="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2.min.js"></script>
</head>
<body>


    <partial name="_SideBar" />
    <main>
        <header>
            <nav class="navbar sticky-top  border-bottom">
                <div class="container-fluid">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <div>
                        <i class="fa-solid fa-bell"></i>
                        <i class="fa-solid fa-message"></i>
                        <img class="profile-pic" src="~/profile.jpg" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="main-content">
            <div class="container">
                <main role="main" class=" pb-3">

                    <div class="container">
                        @if (ViewData["isDashboard"] == null)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="heading-area">
                                        <h4 class="mt-5 mb-4 section-title text-uppercase">@ViewData["PageTitle"]</h4>
                                    </div>
                                    <div class="breadcrumb-area">
                                        <ejs-breadcrumb id="breadcrumb" separatorTemplate="@Html.Raw("<i class='fa-solid fa-angle-right'></i>")">

                                        </ejs-breadcrumb>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        }
                    </div>
                    @RenderBody()
                </main>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ExpenseTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
