* {
    /*font-family: "Open Sans", sans-serif !important;*/
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*background-color: #F5F3F5;*/
    margin-bottom: 60px;
}


.e-grid .e-gridheader {
    background-color: #302B27; /* Dark blue */
    color: #ffffff;
    padding: 10px 1px;
    font-weight: bold;
}

.e-grid .e-headercell {
    background-color: #302B27; /* Dark blue */
    color: #ffffff;
}


.e-grid .e-headercelldiv {
    font-family: "Jost", sans-serif;
    font-size:15px;
}

.e-row .e-rowcell {
    font-size: 1.2em;
}

/*Breadcrumb*/
.e-breadcrumb a, e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
    
}

.e-anchor-wrap {
    text-transform: capitalize;
}

.form-control option {
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.main-content{
    margin-left:290px;
}

.summary-widget-icon {
    display: flex;
    font-size:30px;
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    height: 50px; /* Set a fixed height for the container */
    width: 100px; /* Set a fixed width for the container */
    /*margin: 0 auto;*/ /* Centers the container itself if needed */
}